<div class="event-detail panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">My important event</h3>
  </div>
  <div class="panel-body">
    <header>
     //= ../status
     <button class="btn btn-raised btn-danger">Delete</button>
    </header>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo similique omnis voluptas eos officia vero pariatur, id earum sequi eligendi itaque ad commodi voluptatibus quisquam et cupiditate dignissimos totam, dolores quidem! Blanditiis molestias, voluptatem et dolor non. Distinctio deleniti neque illum natus sunt, non molestiae minus earum! Ad rerum, fuga.

    //= ./addCommentForm
    //= ./comments
  </div>

</div>
