<tbody>
  <tr>
    <td><a href="" class="calendar-day">1</a></td>
    <td><a href="" class="calendar-day">2</a></td>
    <td><a href="" class="calendar-day">3</a></td>
    <td><a href="" class="calendar-day">4</a></td>
    <td><a href="" class="calendar-day">5</a></td>
    <td><a href="" class="calendar-day">6</a></td>
    <td>
      <a href="" class="calendar-day">7</a>
      <div class="events">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Your events</h3>
          </div>
          <div class="panel-body">
            //= ../event
          </div>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td><a href="" class="calendar-day">1</a></td>
    <td>
      <a href="" class="calendar-day">2</a>
      <div class="events">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Your events</h3>
          </div>
          <div class="panel-body">
            //= ../event
          </div>
        </div>
      </div>
    </td>
    <td><a href="" class="calendar-day">3</a></td>
    <td><a href="" class="calendar-day">4</a></td>
    <td><a href="" class="calendar-day">5</a></td>
    <td><a href="" class="calendar-day">6</a></td>
    <td><a href="" class="calendar-day">7</a></td>
  </tr>
  <tr>
    <td><a href="" class="calendar-day">1</a></td>
    <td><a href="" class="calendar-day">2</a></td>
    <td><a href="" class="calendar-day">3</a></td>
    <td><a href="" class="calendar-day">4</a></td>
    <td>
      <a href="" class="calendar-day">5</a>
      <div class="events">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Your events</h3>
          </div>
          <div class="panel-body">
            //= ../event
            //= ../event
          </div>
        </div>
      </div>
    </td>
    <td><a href="" class="calendar-day">6</a></td>
    <td><a href="" class="calendar-day">7</a></td>
  </tr>
  <tr>
    <td><a href="" class="calendar-day">1</a></td>
    <td><a href="" class="calendar-day">2</a></td>
    <td><a href="" class="calendar-day">3</a></td>
    <td><a href="" class="calendar-day">4</a></td>
    <td><a href="" class="calendar-day">5</a></td>
    <td><a href="" class="calendar-day">6</a></td>
    <td><a href="" class="calendar-day">7</a></td>
  </tr>
</tbody>
